body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background: black;
    display: flex;
    flex-direction: row;
    height: 70px;
    border-bottom: 1px solid #343333;
}

nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 50px;
    width: auto;
}  
.logo h1{
    color: white;
    margin-left: 10px;
    font-size: 24px;
} 

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-left: 30px;
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    overflow: hidden !important;
    z-index: 0;
}

nav ul li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFB400;
    z-index: -1;
    transition: ease-in-out 0.3s;
    border-radius: 4px;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul li a.active{
    background-color: #FFB400;
}

main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #111111;
    z-index: 0;
    overflow: hidden;
}

main::before{
    content: ' ';
    position: absolute;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: #FFB400;
    z-index: -1;
}

main.custom-page{
    flex-direction: column;
    padding: 50px 100px;
    height: auto;
}

main.custom-page::before{
    display: none;
}

.profile-photo {
    margin-top: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: black;
    border-radius:20px;
    width: 500px;
    height: calc(100vh - 170px);
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.intro{
    color: white;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    height: calc(100vh - 170px);
    padding: 0 50px;
}

.intro h2{
    font-size: 51px;
    font-weight: 700;
    color:#FFB400;
    margin: 0px;
    text-transform: uppercase;
    line-height: 62px;
}

.intro h3{
    font-size: 51px;
    font-weight: 700;
    line-height: 62px;
    color: white;
    margin: 0px;
    text-transform: uppercase;
}

.intro p{
    font-size: 18px;
    color: white;
    margin-top: 30px;
    line-height: 35px;
}

.p-button {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    border-radius: 35px;
    border: 2px solid #FFB400;
    transition: background-color 0.3s ease;
}

.p-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    background-color: #FFB400;
    border-radius: 35px;
    z-index: -1;
    transition: all ease-in-out 0.3s;
}

.p-button:hover::before {
    width: 100%;
    opacity: 1;
}

.heading {
    position: relative;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-back {
    position: absolute;
    font-size: 110px;
    letter-spacing: 10px;
    line-height: 0.7;
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
    z-index: -1;
}

.heading-txt {
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.project {
    display: flex;
    width: 370px;
    height: 370px;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #343333;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}
.project:hover {
    box-shadow: 0 0 20px rgba(255, 180, 0, 0.7);
}

.project-image img {
    width: 370px;
    height: auto;
}

.project-info {
    padding: 20px;
    background-color: #343333;
    flex: 1;
}

.project-title {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #FFB400;
}
.project-description {
    font-size: 16px;
    color: white;
}

.body{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.contact-left, .contact-right{
    flex: 1;
    min-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #343333;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
}